#connect {
  .modal-header {
    font-size: 20px;
    h3 {
      float: left;
      margin:0;
    }
    i {
      font-size: 26px;
      padding-right: 10px;
      top: 1px;
      position: relative;
    }
  }
  .modal-body {
    .server-list {
      // .transition(.2s ease);
      top: -100%;
      list-style: none;
      margin: 0;
      padding: 0;
      &.active {
        top: 0;
      }
      li {
        &:first-child {
          a {
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
          }
        }
        &:last-child {a {
            border-bottom: 1px solid @gray-lighter;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
          }
        }
        &.connected {
          a {
            background: @gray-lighter;
            text-decoration: line-through;
          }
        }
        a {
          display: block;
          padding: 15px;
          border-top: 1px solid @gray-lighter;
          border-left: 1px solid @gray-lighter;
          border-right: 1px solid @gray-lighter;
          text-decoration: none;
          &:hover {
            background: @brand-tertiary;
            color: @gray;
          }
        }
      }
    }
  }
}

/*
 * Animations
*/
.view-fade {
  &.ng-enter {
  #connect {
    // .server-block {
    //     height: 0;
    //     width: 0;
    //     .inner {
    //       opacity: 0;
    //     }
    //   }
    }
  }
  &.ng-enter-active {
    #connect {
      // .server-block {
      //   height: auto;
      //   width: @server-block-width;
      //   .inner {
      //     opacity: 0;
      //   }
      // }
    }
  }
  &.ng-leave {

    // #connect {
    //   .server-block {
    //     height: @server-block-height;
    //     width: @server-block-width;
    //     .inner {
    //       opacity: 1;
    //     }
    //   }
    // }
  }
}
