#connect {.modal-header {

  }
  .modal-body {.server-list {
      top: -100%;
      list-style: none;
      margin: 0;
      padding: 0;
      &.active {
        top: 0;
      }
      li {
        border-top: 1px solid @gray-lighter;
        border-left: 1px solid @gray-lighter;
        border-right: 1px solid @gray-lighter;
        position: relative;
        &:first-child {
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        }
        &:last-child {
          border-bottom: 1px solid @gray-lighter;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
        }
        &.connected {
          .name {
            padding-left: 40px;
            .icon-connected {
              left: 10px;
            }
          }
        }
        a {
          overflow: hidden;
          position: relative;
          text-decoration: none;
          color: @gray;
          padding: 15px;
          .transition(.2s ease);
          &:hover {
            background: @gray-lighter;
          }
          &.name {
            display: block;
            .icon-connected {
              position: absolute;
              top: 13px;
              left: -200px;
              font-size: 24px;
              .transition(.2s ease);
            }
          }
        }
        .links {
          position: absolute;
          top:0;
          right:0;
          a {
            float: left;
            display: inline-block;
            &.edit {

            }
            &.remove {

            }
          }
        }
      }
    }
  }
}

/*
 * Animations
*/
.view-fade {&.ng-enter {#connect {

      // .server-block {
      //     height: 0;
      //     width: 0;
      //     .inner {
      //       opacity: 0;
      //     }
      //   }
    }
  }
  &.ng-enter-active {#connect {

      // .server-block {
      //   height: auto;
      //   width: @server-block-width;
      //   .inner {
      //     opacity: 0;
      //   }
      // }
    }
  }
  &.ng-leave {

    // #connect {
    //   .server-block {
    //     height: @server-block-height;
    //     width: @server-block-width;
    //     .inner {
    //       opacity: 1;
    //     }
    //   }
    // }
  }
}
