<div class="sidenav">
  <div class="logo">
    <img image-src="./images/logo.png" uib-tooltip="weeeeee" tooltip-placement="right" tooltip-popup-delay="2000" tooltip-append-to-body="true">
  </div>
  <ul>
    <li uib-tooltip="Manage Connections" tooltip-placement="right" tooltip-popup-delay="800" tooltip-append-to-body="true" ng-click="showConnections(null, $event)">
      <span class="icon-server">
        <i class="fa fa-server"></i>
        <i class="fa fa-plus-circle"></i>
      </span>
    </li>
    <li uib-tooltip="Settings" tooltip-placement="right" tooltip-popup-delay="800" tooltip-append-to-body="true" ng-click="showSettings($event)">
      <i class="fa fa-cog"></i>
    </li>
  </ul>
</div>
