<div class="query">
  <div class="query-nav clearfix">
    <div class="collection-info pull-left">
      <ul>
        <li>
          <i class="fa fa-server"></i> {{ ::collection.serverName }}
        </li>
        <li>
          <i class="fa fa-database"></i> {{ ::collection.databaseName }}
        </li>
        <li ng-show="queryTime">
          <i class="fa fa-clock-o"></i> {{ queryTime }} ms.
        </li>
        <li>
          {{ results.length }} Count
        </li>
      </ul>
    </div>
    <div class="right-btns">
      <div class="query-btn-list btn-group clearfix">
        <input class="number-input form-control pull-left" type="number" ng-model="form.skip" placeholder="Skip" auto-grow-input>
        <input class="number-input form-control pull-left" type="number" ng-model="form.limit" placeholder="Limit" auto-grow-input>
        <button type="button" class="search-btn btn btn-primary btn-sm pull-left" ng-click="runQuery()">Run</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" ng-click="currentView = VIEWS.LIST" ng-class="{ active : currentView === VIEWS.LIST }" uib-tooltip="Raw View" tooltip-placement="bottom" tooltip-popup-delay="800" tooltip-append-to-body="true">
          <i class="fa fa-code"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="currentView = VIEWS.KEYVALUE" ng-class="{ active : currentView === VIEWS.KEYVALUE }" uib-tooltip="Key Value View" tooltip-placement="bottom" tooltip-popup-delay="800" tooltip-append-to-body="true">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" ng-click="exportResults()" uib-tooltip="Export Results" tooltip-placement="bottom" tooltip-popup-delay="800" tooltip-append-to-body="true" ng-disabled="!results.length">
          <i class="fa fa-external-link-square"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="query-content">
    <form class="query-form" name="query-form" novalidate>
      <div class="query-input">
        <div class="query-editor" codemirror="codeEditorOptions" handle="editorHandle" has-focus="editorHasFocus" ng-model="form.searchQuery">
        </div>
      </div>
    </form>
    <loading></loading>
    <div class="query-error alert alert-danger" ng-show="error">
      {{ error }}
    </div>
    <div class="query-results">
      <div class="query-results-inner">
        <div class="alert alert-info" ng-show="!loading && !results.length">
          Your search did not return any results.
        </div>
        <div ng-show="!loading && results.length">
          <div class="query-results" ng-show="currentView === VIEWS.LIST">
            <query-results-view type="'list'" results="results" delete-result="deleteResult"></query-results-view>
          </div>
          <div class="query-results" ng-show="currentView === VIEWS.KEYVALUE">
            <query-results-view type="'keyvalue'" results="results" delete-result="deleteResult"></query-results-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
