<div class="query">
  <div class="query-nav clearfix">
    <div class="collection-info pull-left">
      <ul>
        <li>
          <i class="icon-server"></i> {{ ::currentCollection.serverName }}
        </li>
        <li>
          <i class="fa fa-database"></i> {{ ::currentCollection.databaseName }}
        </li>
        <li ng-show="queryTime">
          <i class="fa fa-clock-o"></i> {{ queryTime }} ms.
        </li>
        <li>
          {{ result.length }} Count
        </li>
      </ul>
    </div>
    <div class="right-btns">
      <div class="query-btn-list btn-group clearfix">
        <!-- <input class="number-input form-control pull-left" type="number" ng-model="form.skip" placeholder="Skip" auto-grow-input>
        <input class="number-input form-control pull-left" type="number" ng-model="form.limit" placeholder="Limit" auto-grow-input> -->
        <button type="button" class="search-btn btn btn-primary btn-sm pull-left" ng-click="runQuery()">Run</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" ng-click="currentView = VIEWS.TEXT" ng-class="{ active : currentView === VIEWS.TEXT }" ng-disabled="currentQuery.mongoMethod === 'count'" uib-tooltip="Text View" tooltip-placement="bottom" tooltip-popup-delay="800"
        tooltip-append-to-body="true">
          <i class="fa fa-code"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="currentView = VIEWS.KEYVALUE" ng-class="{ active : currentView === VIEWS.KEYVALUE }" ng-disabled="currentQuery.mongoMethod === 'count'" uib-tooltip="Key Value View" tooltip-placement="bottom"
        tooltip-popup-delay="800" tooltip-append-to-body="true">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" ng-click="collapseAll()" ng-disabled="currentQuery.mongoMethod === 'count' || currentView === VIEWS.TEXT" uib-tooltip="Collapse All" tooltip-placement="bottom" tooltip-popup-delay="800" tooltip-append-to-body="true">
          <i class="fa fa-compress"></i>
        </button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" ng-click="exportResults()" uib-tooltip="Export Results" tooltip-placement="bottom" tooltip-popup-delay="800" tooltip-append-to-body="true" ng-disabled="!results.length || (currentQuery.mongoMethod !== 'find' && currentQuery.mongoMethod !== 'aggregate')">
          <i class="fa fa-external-link-square"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="query-content">
    <form class="query-form" name="query-form" novalidate>
      <div class="query-input">
        <div class="query-editor" codemirror="codeEditorOptions" handle="editorHandle" custom-data="codeEditorCustomData" has-focus="editorHasFocus" ng-model="form.query">
        </div>
      </div>
    </form>
    <div class="query-results">
      <div class="query-results-inner">
        <loading loading="loading"></loading>
        <div class="query-error alert alert-danger" ng-show="!loading && error">
          {{ error }}
        </div>
        <div class="alert alert-info" ng-show="!loading && !error && (!result || !result.length) && currentQuery.mongoMethod !== 'count'">
          Your search did not return any results.
        </div>
        <div ng-show="!loading && !error && (result !== null && result !== undefined)">
          <div class="query-results" ng-if="currentView === VIEWS.RAW" ng-bind-html="result">
          </div>
          <div class="query-results" ng-if="currentView === VIEWS.TEXT">
            <div class="text-view">
              <div class="results-list" ng-if="currentQuery.mongoMethod !== 'count'">
                <div class="result" ng-repeat="result in result track by result._id">
                  <ul class="menu">
                    <li>
                      <button class="btn btn-default" ng-click="deleteResult(result)">
                        <i class="fa fa-plus rotate-45"></i>
                      </button>
                    </li>
                  </ul>
                  <pre>{{ ::result | json }}</pre>
                </div>
              </div>
            </div>
          </div>
          <div class="query-results" ng-if="currentView === VIEWS.KEYVALUE">
            <div class="key-value-view">
              <div class="top-header clearfix">
                <span class="table-cell col-sm-3 key">
                  Key
                </span>
                <span class="table-cell col-sm-6 key">
                  Value
                </span>
                <span class="table-cell col-sm-3 key">
                  Type
                </span>
              </div>
              <key-value-results results="keyValueResults" delete-result="deleteResult"></key-value-results>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
