<div class="query">
  <div class="query-nav clearfix">
    <div class="collection-info pull-left">
      <ul>
        <li>
          <i class="fa fa-server"></i> {{ ::currentCollection.serverName }}
        </li>
        <li>
          <i class="fa fa-database"></i> {{ ::currentCollection.databaseName }}
        </li>
        <li ng-show="queryTime">
          <i class="fa fa-clock-o"></i> {{ queryTime }} ms.
        </li>
        <li>
          {{ results.length }} Count
        </li>
      </ul>
    </div>
    <div class="right-btns">
      <div class="query-btn-list btn-group clearfix">
        <!-- <input class="number-input form-control pull-left" type="number" ng-model="form.skip" placeholder="Skip" auto-grow-input>
        <input class="number-input form-control pull-left" type="number" ng-model="form.limit" placeholder="Limit" auto-grow-input> -->
        <button type="button" class="search-btn btn btn-primary btn-sm pull-left" ng-click="runQuery()">Run</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" ng-click="currentView = VIEWS.LIST" ng-class="{ active : currentView === VIEWS.LIST }" uib-tooltip="Raw View" tooltip-placement="bottom" tooltip-popup-delay="800" tooltip-append-to-body="true">
          <i class="fa fa-code"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="currentView = VIEWS.KEYVALUE" ng-class="{ active : currentView === VIEWS.KEYVALUE }" uib-tooltip="Key Value View" tooltip-placement="bottom" tooltip-popup-delay="800" tooltip-append-to-body="true">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" ng-click="exportResults()" uib-tooltip="Export Results" tooltip-placement="bottom" tooltip-popup-delay="800" tooltip-append-to-body="true" ng-disabled="!results.length">
          <i class="fa fa-external-link-square"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="query-content">
    <form class="query-form" name="query-form" novalidate>
      <div class="query-input">
        <div class="query-editor" codemirror="codeEditorOptions" handle="editorHandle" custom-data="codeEditorCustomData" has-focus="editorHasFocus" ng-model="form.query">
        </div>
      </div>
    </form>
    <loading></loading>
    <div class="query-error alert alert-danger" ng-show="error">
      {{ error }}
    </div>
    <div class="query-results">
      <div class="query-results-inner">
        <div class="alert alert-info" ng-if="!loading && !error && !results">
          Your search did not return any results.
        </div>
        <div ng-show="!loading && !error && results">
          <div class="query-results" ng-if="currentView === VIEWS.LIST">
            <div class="list-view">
              <div class="results-list" ng-if="currentQuery.mongoMethod !== 'count'">
                <div class="result" ng-repeat="result in results track by result._id">
                  <ul class="menu">
                    <!-- <li>
                      <button class="btn btn-default">
                        <i class="fa fa-pencil"></i>
                      </button>
                    </li> -->
                    <li>
                      <button class="btn btn-default" ng-click="deleteResult(result)">
                        <i class="fa fa-plus rotate-45"></i>
                      </button>
                    </li>
                  </ul>
                  <pre>{{ ::result | json }}</pre>
                </div>
              </div>
              <div class="result-count" ng-if="currentQuery.mongoMethod === 'count'">
                {{ results }}
              </div>
            </div>
          </div>
          <div class="query-results" ng-if="currentView === VIEWS.KEYVALUE">
            <div class="key-value-view">
              <div class="top-header clearfix">
                <span class="table-cell col-sm-3 key">
                  Key
                </span>
                <span class="col-sm-6 key">
                  Value
                </span>
                <span class="col-sm-3 key">
                  Type
                </span>
              </div>
              <div class="result" ng-repeat="result in keyValueResults track by result._id">
                <ul class="menu">
                  <!-- <li>
                    <button class="btn btn-default">
                      <i class="fa fa-pencil"></i>
                    </button>
                  </li> -->
                  <li>
                    <button class="btn btn-default" ng-click="deleteResult(result)">
                      <i class="fa fa-plus rotate-45"></i>
                    </button>
                  </li>
                </ul>
                <span class="result-header clearfix" ng-click="result.isOpen = !result.isOpen">
                  <span class="key">
                    <i class="fa " ng-class="{ 'fa-chevron-right' : !result.isOpen, 'fa-chevron-down' : result.isOpen }"></i> (#{{ $index + 1 }}) {{ ::result._id }}
                  </span>
                  <span class="key">
                    {{ ::result.length }} fields
                  </span>
                  <span class="key">

                  </span>
                </span>
                <div class="result-body slide clearfix" ng-class="{ 'open' : result.isOpen }">
                  <div class="result-row clearfix" ng-repeat="keyvalue in result">
                    <span class="result-cell col-sm-3 key">
                      <i class="{{ keyvalue.type }} fa {{ keyvalue.icon }}"></i> {{ keyvalue.key }}
                    </span>
                    <span class="result-cell col-sm-6 value">
                      {{ keyvalue.value }}
                    </span>
                    <span class="result-cell col-sm-3 type">
                      {{ keyvalue.type }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
