<div id="connect">
  <div class="modal-header modal-header-w-icon clearfix">
    <h3 class="pull-left">
      <i class="fa fa-server"></i> Manage your connections...
    </h3>
    <i class="close fa fa-plus rotate-45" ng-click="close()"></i>
  </div>
  <div class="modal-body">
    <div class="clearfix top-links">
      <div class="pull-right">
        <a href="#" class="add-link" ng-click="changePage('add', null, $event)">
          <i class="fa fa-plus"></i> Create
        </a>
      </div>
    </div>
    <div class="connect-panel" ng-if="currentPage === 'list'" ng-include="listConnectionsSrc"></div>
    <div class="connect-panel" ng-if="currentPage === 'add'" ng-include="addConnectionSrc"></div>
    <div class="connect-panel" ng-if="currentPage === 'edit'" ng-include="editConnectionSrc"></div>
    <div class="connect-panel" ng-if="currentPage === 'remove'" ng-include="removeConnectionSrc"></div>
  </div>
</div>
