<div id="connect">
  <div class="modal-header modal-header-w-icon clearfix">
    <i class="fa fa-server"></i> &nbsp;{{ currentScreen.name }}
    <div class="pull-right">
      <button class="btn btn-sm" ng-click="changeScreen(screens.ADD, null, $event)">
        Add
      </button>
    </div>
  </div>
  <div class="modal-body">
    <!-- Server List -->
    <ul class="connect-server-list" ng-class="{ 'active' : connections.length }" ng-show="currentScreen === screens.LIST">
      <div class="alert alert-info" ng-show="!connections.length">
        Your don't have any connections yet. Use the Add button to create a new connection.
      </div>
      <li ng-repeat="connection in connections" ng-class="{ 'connected' : isConnected(connection) }" ng-show="connections.length">
        <a class="name" href="#" ng-click="connect(connection, $event)">
          <i class="icon-connected fa fa-check-circle-o"></i> {{ connection.name }}
        </a>
        <span class="links">
          <a class="edit" href="#" ng-click="changeScreen(screens.EDIT, connection, $event)" uib-tooltip="Edit Connection" tooltip-popup-delay="600">
            <i class="fa fa-pencil"></i>
          </a>
          <a class="remove" href="#" ng-click="changeScreen(screens.REMOVE, connection, $event)" uib-tooltip="Delete Connection" tooltip-popup-delay="600">
            <i class="fa fa-times"></i>
          </a>
        </span>
      </li>
    </ul>
    <!-- Server Add -->
    <div class="server-add clearfix" ng-show="currentScreen === screens.ADD">
      <form name="addForm" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : !addForm.name.$valid && addConnectionFormSubmitted }">
          <label class="control-label">Name</label>
          <input class="form-control" ng-model="addConnectionForm.name" name="name" type="text" required>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : !addForm.host.$valid && addConnectionFormSubmitted }">
          <label class="control-label">Host</label>
          <input class="form-control" ng-model="addConnectionForm.host" type="text" required placeholder="localhost">
        </div>
        <div class="form-group" ng-class="{ 'has-error' : !addForm.port.$valid && addConnectionFormSubmitted }">
          <label class="control-label">Port</label>
          <input class="form-control" ng-model="addConnectionForm.port" name="port" type="text" required placeholder="27017">
        </div>
        <div class="pull-right">
          <button class="btn btn-default" type="button" ng-click="changeScreen(screens.LIST, null, $event)">
            Cancel
          </button>
          <button class="btn btn-primary" type="button" ng-click="addConnection(addForm, $event)">
            Add
          </button>
        </div>
      </form>
    </div>
    <!-- Server Edit -->
    <div class="server-edit clearfix" ng-show="currentScreen === screens.EDIT">
      <form name="editConnectionForm" novalidate>
        <div class="form-group">
          <label class="control-label">Name</label>
          <input class="form-control" type="text" ng-model="selectedConnection.name">
        </div>
        <div class="form-group">
          <label class="control-label">Host</label>
          <input class="form-control" type="text" ng-model="selectedConnection.host">
        </div>
        <div class="form-group">
          <label class="control-label">Port</label>
          <input class="form-control" type="text" ng-model="selectedConnection.port">
        </div>
        <div class="pull-right">
          <button class="btn btn-default" type="button" ng-click="changeScreen(screens.LIST, null, $event)">
            Cancel
          </button>
          <button class="btn btn-primary" type="button" ng-click="editConnection(addConnectionForm, $event)">
            Save
          </button>
        </div>
      </form>
    </div>
    <!-- Server Remove -->
    <div class="server-edit clearfix" ng-show="currentScreen === screens.REMOVE">
      <div class="alert alert-danger">
        Are you sure you want to remove the connection
        <strong>'{{ selectedConnection.name }}'</strong>?
      </div>
      <div class="pull-right">
        <button class="btn btn-default" type="button" ng-click="changeScreen(screens.LIST, null, $event)">
          Cancel
        </button>
        <button class="btn btn-primary" type="button" ng-click="removeConnection(selectedConnection, $event)">
          Remove
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="pull-right">
      <button class="btn btn-sm close-btn" ng-click="close()">
        Done
      </button>
    </div>
  </div>
</div>
