<div class="collection-query">
  <div class="collection-query-nav clearfix">
    <div class="collection-info pull-left">
      <p>
        <i class="fa fa-server"></i> {{ ::collection.serverName }}
      </p>
      <p>
        <i class="fa fa-database"></i> {{ ::collection.databaseName }}
      </p>
      <p ng-show="queryTime">
        <i class="fa fa-clock-o"></i> {{ queryTime }} ms.
      </p>
    </div>
    <div class="pull-right">
      <div class="query-btn-list btn-group clearfix">
        <input class="number-input form-control pull-left" type="number" ng-model="form.skip" placeholder="Skip" auto-grow-input>
        <input class="number-input form-control pull-left" type="number" ng-model="form.limit" placeholder="Limit" auto-grow-input>
        <button type="button" class="search-btn btn btn-primary btn-sm pull-left" ng-click="search()">Search</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" ng-click="currentView = VIEWS.LIST" ng-class="{ active : currentView === VIEWS.LIST }">
          <i class="fa fa-bars"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="currentView = VIEWS.RAW" ng-class="{ active : currentView === VIEWS.RAW }">
          <i class="fa fa-code"></i>
        </button>
      </div>
    </div>
  </div>
  <form class="query-form" name="query-form" novalidate>
    <div class="query-input">
      <div class="query-editor" codemirror="codeEditorOptions" has-focus="editorHasFocus" ng-model="form.searchQuery">
      </div>
    </div>
  </form>
  <loading></loading>
  <div class="query-error alert alert-danger" ng-show="error">
    {{ error }}
  </div>
  <div class="query-results">
    <div class="alert alert-info" ng-show="!loading && !results.length">
      Your search did not return any results.
    </div>
    <div ng-show="!loading && results.length">
      <div class="list-view clearfix" ng-if="currentView === VIEWS.LIST">
        <div class="result" ng-repeat="result in results">
          <span class="result-header" ng-click="result.isOpen = !result.isOpen">
            <i class="fa " ng-class="{ 'fa-chevron-right' : !status.open, 'fa-chevron-down' : status.open }"></i> (#{{ $index + 1 }}) {{ ::result._id }}
          </span>
          <div class="result-body slide" ng-show="result.isOpen">
            <pre>
              {{ ::result | json }}
            </pre>
            <!-- <pre pretty-json="result">
            </pre> -->
          </div>
        </div>
      </div>
      <div class="raw-view" ng-if="currentView === VIEWS.RAW">
        <pre ng-repeat="result in results">
          {{ ::result | json }}
        </pre>
        <!-- <pre pretty-json="results">
        </pre> -->
      </div>
    </div>
  </div>
</div>
