<div class="query-results-export">
  <div class="export-info clearfix">
    <div class="border-line"></div>
    <ul class="pull-left">
      <li>
        Exporting {{ results.length }} results
      </li>
    </ul>
    <div class="pull-right">
      <button class="btn btn-default">Use an existing export config</button>
    </div>
  </div>
  <div class="key-value-pairs clearfix">
    <div class="key-value-pair" ng-repeat="keyValuePair in keyValuePairs">
      <div class="menu">
        <ul>
          <li>
            <button class="btn btn-default" ng-click="removeColumn(keyValuePair)">
              <i class="fa fa-plus rotate-45"></i>
            </button>
          </li>
        </ul>
      </div>
      <div class="form-group">
        <label class="control-label">Header</label>
        <input class="form-control" type="text" ng-modal="keyValuePair.key">
      </div>
      <div class="form-group">
        <label class="control-label">Property Name</label>
        <input class="form-control" type="text" ng-modal="keyValuePair.value">
      </div>
    </div>
  </div>
  <button class="btn btn-primary add-key-value-pair" ng-click="addColumn()">
    Add Property
  </button>
</div>
