/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_c0df96686dc37621b57df687a9d386df.eot");
  src: url("./fontcustom_c0df96686dc37621b57df687a9d386df.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_c0df96686dc37621b57df687a9d386df.woff") format("woff"),
       url("./fontcustom_c0df96686dc37621b57df687a9d386df.ttf") format("truetype"),
       url("./fontcustom_c0df96686dc37621b57df687a9d386df.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_c0df96686dc37621b57df687a9d386df.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-array:before,
.icon-left-arrow:before,
.icon-minus:before,
.icon-object:before,
.icon-plus:before,
.icon-right-arrow:before,
.icon-server:before,
.icon-server-plus:before,
.icon-times:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-array:before { content: "\f106"; }
.icon-left-arrow:before { content: "\f101"; }
.icon-minus:before { content: "\f108"; }
.icon-object:before { content: "\f107"; }
.icon-plus:before { content: "\f105"; }
.icon-right-arrow:before { content: "\f100"; }
.icon-server:before { content: "\f102"; }
.icon-server-plus:before { content: "\f103"; }
.icon-times:before { content: "\f104"; }
