<div class="inline-editor-wrapper">
  <div class="inline-editor-value" ng-hide="show" ng-dblclick="show = true">
    {{ inlineEditorValue }}
  </div>
  <div class="inline-editor form-group" ng-show="show">
    <input class="form-control control" type="text" give-focus="show" ng-model="newValue" inline-editor-id="{{ id }}" ng-keydown="keyDown($event)">
    <button class="btn btn-sm btn-default first" ng-click="cancel()">
      <i class="fa fa-times"></i>
    </button>
    <button class="btn btn-sm btn-default" ng-click="saveChanges()">
      <i class="fa fa-check"></i>
    </button>
  </div>
</div>
