<div id="data-viewer">
  <div class="header">
    <ul class="header-links">
      <li>
        <a href="#" ui-sref="connect">
          <i class="fa fa-chevron-left"></i>
        </a>
      </li>
    </ul>
    <span class="logo">
      Mongotron
    </span>
  </div>
  <div class="data-viewer-wrap" splitter position="20%" limit="200">
    <div class="sidebar">
      <sidebar></sidebar>
    </div>
    <div class="content">
      <div class="view-container view-frame view-fade" ui-view>
      </div>
    </div>
  </div>
</div>
