<div id="data-viewer">
  <div class="header">
    <a href="#" class="logo">
      Mongotron
    </a>
    <ul class="header-links">
      <li>
        <a href="#" ui-sref="connect">
          <i class="fa fa-plus"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="data-viewer-wrap" splitter position="20%" limit="200">
    <div class="sidebar">
      <!-- Servers -->
      <ul class="server-list">
        <li ng-repeat="connection in currentConnections | orderBy : 'name'">
          <span ng-click="openConnection(connection)">
            <i class="fa fa-server"></i> {{ connection.name }}
          </span>
          <ul class="database-list" ng-show="connection.isOpen">
            <li ng-repeat="database in connection.databases | orderBy : 'name'">
              <span ng-click="openDatabase(database)">
                <i class="fa fa-database"></i> {{ database.name }}
                <span class="loader" ng-show="database.opening">
                  <i class="fa fa-cog fa-spin"></i>
                </span>
              </span>
              <ul class="collection-list" ng-show="database.isOpen">
                <li>
                  <span ng-click="listDatabaseCollections(database)">
                    <i class="fa fa-folder-o"></i> Collections
                    <span class="loader" ng-show="database.loadingCollections">
                      <i class="fa fa-cog fa-spin"></i>
                    </span>
                  </span>
                  <ul class="collection-list" ng-show="database.showCollections && !database.loadingCollections">
                    <li ng-repeat="collection in database.collections | orderBy : 'collectionName'">
                      <span class="collection" ng-click="activateItem(collection)" ng-class="{ active : collection.active }">
                        <i class="fa fa-files-o"></i> {{ collection.collectionName }}
                      </span>
                    </li>
                  </ul>
                </li>
                <li>
                  <span>
                    <i class="fa fa-folder-o"></i> Functions
                  </span>
                </li>
                <li>
                  <span>
                    <i class="fa fa-folder-o"></i> Users
                  </span>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="content">
      <collection-tabs collections="collections">

      </collection-tabs>
    </div>
  </div>
</div>
