<div class="tab-view">
  <uib-tabset>
    <uib-tab class="tab" ng-repeat="tab in currentTabs" active="tab.active" disable="tab.disabled">
      <uib-tab-heading class="tab-header">
        <span class="tab-active-line"></span>
        <i class="fa fa-files-o"></i> {{ tab.name }} <i class="close fa fa-times" ng-click="closeTab(tab, $event)"></i>
      </uib-tab-heading>
      <ng-include src="tab.src"></ng-include>
    </uib-tab>
    <uib-tab class="tab query-tab" ng-repeat="query in currentQueries" active="query.active" disable="query.disabled">
      <uib-tab-heading class="query-tab-header">
        <span class="tab-active-line"></span>
        <i class="fa fa-files-o"></i> {{ query.collection.name }} <i class="close fa fa-times" ng-click="removeQuery(query, $event)"></i>
      </uib-tab-heading>
      <collection-query collection="query.collection"></collection-query>
    </uib-tab>
  </uib-tabset>
</div>
