<div id="updates" ng-controller="updatesCtrl">
  <div class="panel-header">
    <h3><i class="fa fa-bell-o"></i>Updates</h3>
    <p class="version">
      Current Version : {{ version }}
    </p>
    <div class="alert alert-info" ng-hide="updateAvailable">
      <p>
        There are no updates available
      </p>
    </div>
    <div class="alert alert-warning update-available" ng-show="updateAvailable">
      <p>
        <strong>An update is available for download.</strong>
      </p>
      <p>
        Click here to update to version {{ latestRelease.version }}.
      </p>
      <button class="btn btn-primary" ng-click="downloadUpdate()">
        Update
      </button>
    </div>
  </div>
</div>
