/*
 * Collection Query
 */
.collection-query {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  .collection-query-nav {
    margin-bottom: 15px;
    .collection-info {
      p {
        margin: 0;
        padding: 0;
        float: left;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .query-btn-list {
      margin: 0 10px 0 0;
      padding: 0;
      .form-control {
        display: inline-block;
        min-width: 60px;
        margin-right: 5px;
        background: darken(@theme-bg, 20%);
        border-color: lighten(@theme-bg, 10%);
        color: @theme-text-color;
      }
      .btn {
        display: inline-block;
        border-radius: @border-radius-base;
        .number-input {
          width: 50px;
        }
        .search-btn {
          padding: 7px 12px;
          position: relative;
          top: -1px;
        }
      }
    }
  }
  .query-error {
    margin-top: 15px;
  }
  .query-form {
    .query-input {
      border-radius: 4px;
      padding: 2px;
      position: relative;
      border: none;
      background: @theme-query-editor-bg;
      border-color: @theme-query-editor-border-color;
    }
  }
  .query-results {
    margin-top: 20px;
    position: relative;
    overflow-y: auto;
    .query-results-inner {
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow-y: auto;
    }
    pre {
      background: @theme-query-result-json-bg;
      color: @theme-text-color;
    }
    .list-view {

    }
    .raw-view {

      // .pretty-json {
      //   border: none;
      //   border-radius: 0;
      //   outline: none;
      //   background: @theme-query-result-json-bg;
      //   .sep {
      //     color: @theme-query-result-json-seprator;
      //   }
      //   .key {
      //     color: @theme-query-result-json-key;
      //   }
      //   .string {
      //     color: @theme-query-result-json-string;
      //   }
      //   .boolean {
      //     color: @theme-query-result-json-boolean;
      //   }
      // }
    }
    .key-value-view {

    }
  }
}
