.query-results-export {
  .export-info {
    ul {
      margin: 0;
      padding: 0;
    }
  }
  .key-value-pairs {
    display: table;
    margin-bottom: 15px;
    .key-value-pair {
      height: 100px;
      width: 100px;
      border: 1px solid gray;
      margin: 0 10px 10px 0;
      display: table-cell;
    }
  }
  .add-key-value-pair {

  }
}
