#settings {
  position: relative;
  padding-top: 15px;
  height: 100%;
  .settings-sidebar {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    min-width: 12em;
    max-width: 15em;
    ul {
      margin: 0;
      padding: 0;
      li {
        padding: 15px;
        cursor: pointer;
        &:hover {
          background: darken(@theme-tab-pane-bg, 4%);
        }
        &.active {
          background: darken(@theme-tab-pane-bg, 4%);
        }
        i {
          margin-right: 10px;
        }
      }
    }
  }
  .settings-content {
    border-left: 1px solid darken(@theme-tab-pane-bg, 5%);
    height: 100%;
    flex: 8.4;
    flex-flow: column;
    display: flex;
    position: relative;
    padding: 20px 15px;
    .settings-panel {
      .panel-header {
        margin-bottom: 15px;
        border-bottom: 1px solid darken(@theme-tab-pane-bg, 5%);
        i {
          margin-right: 10px;
        }
      }
    }
  }
}
#keybindings {
  .keystroke-key {
    border-radius: 4px;
    border: 1px solid white;
    padding: 4px;
    margin-right: 4px;
  }
}
