/*
 * Tab-View
 */
.tab-view {
  padding-top: 5px;
  .nav-tabs {
    border-bottom: none;
  }
  .tab {
    position: relative;
    a {
      color: @theme-text-color;
      border: none;
      background: none;
      .tab-header {
        .tab-active-line {
          position: absolute;
          top: 50%;
          left: 0;
          width: 2px;
          height: 0;
          border-top-left-radius: 4px;
          background: @theme-tab-active-line-bg;
          .transition(.4s ease);
        }
        .tab-icon {
          margin-right: 10px;
        }
        .tab-close {
          border-radius: 50%;
          padding: 2.5px 4.5px 4.6px 4.3px;
          margin-left: 10px;
          font-size: 10px;
          position: relative;
          top: -2px;
          cursor: pointer;
          background: darken(@theme-tab-active-bg, 3%);
          opacity: 0;
          .transition-property("opacity");
          .transition-duration(.35s);
          .transition-timing-function(ease);
        }
      }
      &:hover,
      &:focus,
      &:active {
        background: none;
      }
    }
    &:hover {
      a {
        background: none;
        .tab-close {
          opacity: 1;
        }
      }
    }
    &.active {
      a {
        background: @theme-tab-active-bg;
        color: @theme-text-color;
        border: none;
        .tab-active-line {
          top: 1px;
          height: 100%;
        }
      }
    }
  }
  .tab-pane {
    padding: 15px;
    position: relative;
    height: 100%;
    width: 100%;
    background: @theme-tab-pane-bg;
  }
}
