<div ng-right-click="openDocumentContextMenu(result)">
  <ul class="menu">
    <li>
      <button class="btn btn-default" ng-click="deleteResult(result)">
        <i class="fa fa-plus rotate-45"></i>
      </button>
    </li>
  </ul>
  <div class="clearfix" ng-click="result.isOpen = !result.isOpen">
    <div class="no-select">
      <div class="result-header" ng-hide="result.type === 'object' || result.type === 'array'">
        <div class="result-cell first-cell col-sm-3 no-select">
          <i class="fa " ng-class="{ 'fa-chevron-right' : !result.isOpen, 'fa-chevron-down' : result.isOpen }"></i>
          <span>({{ $index + 1 }}) ObjectId( {{ ::result.original._id }} )</span>
        </div>
        <div class="result-cell col-sm-6 no-select">
          { {{ ::result.keyValues.length }} fields }
        </div>
        <div class="result-cell col-sm-3 no-select">
          {{ result.type || 'object' }}
        </div>
      </div>
      <div class="result-sub-header" ng-show="result.type === 'object' || result.type === 'array'">
        <div class="result-cell col-sm-3">
          <i class="fa " ng-class="{ 'fa-chevron-right' : !result.isOpen, 'fa-chevron-down' : result.isOpen }"></i>
          <span>{{ ::result.key }}</span>
        </div>
        <div class="result-cell col-sm-6">
          {{ ::result.display }}
        </div>
        <div class="result-cell col-sm-3">
          {{ ::result.type }}
        </div>
      </div>
    </div>
  </div>
  <div class="result-body clearfix" ng-if="result.isOpen" ng-class="{ 'open' : result.isOpen }">
    <div class="result-row clearfix" ng-repeat="keyvalue in ::result.keyValues">
      <div class="clearfix" ng-hide="keyvalue.keyValues.length">
        <div class="result-cell first-cell col-sm-3">
          <i class="{{ ::keyvalue.type }} fa {{ ::keyvalue.icon }}"></i> {{ ::keyvalue.key }}
        </div>
        <div class="result-cell col-sm-6">
          {{ ::keyvalue.display }}
        </div>
        <div class="result-cell col-sm-3">
          {{ ::keyvalue.type }}
        </div>
      </div>
      <div class="" ng-show="keyvalue.keyValues">
        <key-value-result result="keyvalue"></key-value-result>
      </div>
    </div>
  </div>
</div>
