<div class="collection-query">
  <div class="collection-info clearfix">
    <p>
      <i class="fa fa-server"></i> {{ collection.serverName }}
    </p>
    <p>
      <i class="fa fa-database"></i> {{ collection.databaseName }}
    </p>
    <p ng-show="queryTime">
      <i class="fa fa-clock-o"></i> {{ queryTime }} ms.
    </p>
  </div>
  <form class="query-form" name="query-form" novalidate>
    <div class="input-group query-input">
      <div class="code-editor" codemirror="codeEditorOptions" ng-model="form.searchQuery">
      </div>
      <span class="input-group-addon">
        <button class="btn btn-default" ng-click="search()">Search</button>
      </span>
    </div>
  </form>
  <loading></loading>
  <div class="query-error alert alert-danger" ng-show="error">
    {{ error }}
  </div>
  <div class="query-results">
    <div class="alert alert-info" ng-show="!loading && !results.length">
      Your search did not return any results.
    </div>
    <div ng-show="!loading" ng-repeat="result in results">
      <uib-accordion close-others="true">
        <uib-accordion-group is-open="status.open">
          <uib-accordion-heading>
            <i class="fa " ng-class="{ 'fa-chevron-right' : !status.open, 'fa-chevron-down' : status.open }"></i> (#{{ $index + 1 }}) {{ result._id }}
          </uib-accordion-heading>
          <pre pretty-json="result">
          </pre>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>
</div>
