<div id="data-viewer">
  <div class="data-viewer-wrap" splitter position="20%" limit="200">
    <div class="sidebar">
      <div class="sidebar-header">
        <div class="logo-wrap dropdown">
          <button type="button" data-toggle="dropdown">
            <span class="logo">
              M
              <span class="o">o</span>ng
              <span class="o">o</span>tr
              <span class="o">o</span>n
            </span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right">
            <li>
              <a href="#" ng-click="showConnections($event)">Manage Your Connections</a>
            </li>
          </ul>
        </div>
      </div>
      <sidebar></sidebar>
    </div>
    <div class="content">
      <div class="view-container view-frame view-fade" ui-view>
      </div>
    </div>
  </div>
</div>
