.center {
  text-align: center;
}
.loading {
  padding: 20px 0;
  i {
    font-size: 20px;
  }
}

/*
 * jQuery Splitter
 */
.splitter_panel {.vsplitter {
    width: 1px !important;
  }
}

/*
 * Tab-View
 */
.tab-view {
  .nav-tabs {
    border-bottom-color: @gray-lighter;
  }
  .tab {
    a {
      border-color: transparent;
      border-bottom-color: @gray-lighter;
    }
    &:hover {
      a {
        background: none;
      }
    }
    &.active {
      a {
        background: white;
        border-color:@gray-lighter;
        border-bottom-color: transparent;
      }
    }
    &.collection-tab {
      .collection-tab-header {
        .close {
          border-radius: 50%;
          padding: 2.5px 4.5px 4.6px 4.3px;
          margin-left: 10px;
          font-size: 10px;
          background: @gray-light;
        }
      }
    }
  }
  .tab-pane {
    padding: 15px;
    position: relative;
    height: 100%;
    width: 100%;
  }
}

/*
 * Collection Query
 */
.collection-query {
  .collection-info {
    margin-bottom: 15px;
    p {
      margin: 0;
      padding: 0;
      float: left;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .query-error {
    margin-top: 15px;
  }
  .query-form {
    .query-input {
      background: none;
      .code-editor {
        .CodeMirror {
          height: auto;
          min-height: 34px;
          border: 1px solid @input-group-addon-border-color;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          padding: 2px;
        }
      }
      .input-group-addon {
        background: none;
        padding: 0;
        border: 0;
        vertical-align: top;
        .btn {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-left: 0;
        }
      }
    }
  }
  .query-results {
    margin-top: 15px;
    .panel-group {
      margin-bottom: 5px;
      .panel {
        box-shadow: none;
        .panel-heading {
          padding: 0;
          background: white;
          border-radius: 4px;
          .panel-title {
            font-size: 14px;
            .accordion-toggle {
              padding: 5px 10px;
              display: block;
              cursor: default;
              text-decoration: none;
              .fa {
                font-size: 10px;
                position: relative;
                top: -1px;
              }
            }
          }
        }
        .panel-body {
          padding: 0;
          pre {
            outline: none;
            .key {
              color: darken(@brand-tertiary, 10%);
            }
            .string {
              color: @brand-secondary;
            }
          }
        }
      }
    }
  }
}

/*
 * Modal
 */
.modal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: @gray-lighter;
  font-size: 20px;
  font-weight: 500;

  // padding: 10px 12px 8px;
  &.modal-header-w-icon {i {
      top: 1px;
      position: relative;
    }
  }
  .close-btn {
    float: right;
    background: @brand-secondary;
    color: white;
  }
}
.modal-backdrop {
  bottom: 0;
}
