/*
 * jQuery Splitter
 */
.splitter_panel {
  .vsplitter {
    width: 1px !important;
  }
}

/*
 * Collection Tabs
 */
.collection-tabs {
  .collection-tab {
    .collection-tab-header {
      .close {
        border-radius: 50%;
        padding: 3px 4px 4px 6px;
        marign-left: 10px;
        background: @gray-light
      }
    }
    .collection-tab-content {
      background: red;
      position: relative;
      height: 100%;
      width: 100%;
    }
  }
}
