@fa-font-path: "../vendor/font-awesome/fonts";
@sidebar-width: 300px;
@brand-primary: #c3deea;
@brand-secondary: #51565f;
@brand-tertiary: #b1cad4;

/*
 * Sidebar
 */
@sidebar-bg: white;

/*
 * Modals
 */
@modal-md: 700px;

// @gray: #576B71;
// @gray-light: #7C94A0;
@gray-lighter: #eee;
