@fa-font-path: "../vendor/font-awesome/fonts";
@sidebar-width: 300px;

@brand-primary: #82DFEA;
@brand-secondary: #91C755;
@brand-tertiary : #50B7C1;

// @gray: #576B71;
// @gray-light: #7C94A0;
// @gray-lighter: #D0E3E5;
