<div id="connect">
  <div class="modal-header modal-header-w-icon clearfix">
    <i class="fa fa-server"></i> &nbsp;Add a Connection
    <button class="btn btn-sm close-btn" ng-click="close()">
      Done
    </button>
  </div>
  <div class="modal-body">
    <ul class="server-list" ng-class="{ 'active' : connections.length }">
      <li ng-repeat="connection in connections" ng-class="{ 'connected' : isConnected(connection) }">
        <a href="#" ng-click="connect(connection, $event)">
          {{ connection.name }}
          <i class="icon fa fa-check-circle-o"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
