<div id="connect">
  <form name="addDatabaseForm" novalidate>
    <div class="modal-header modal-header-w-icon clearfix">
      <i class="fa fa-database"></i>&nbsp;Add a new database
      <i class="close fa fa-plus rotate-45" ng-click="close()"></i>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" type="text" name="name" ng-model="form.name" required>
      </div>
    </div>
    <div class="modal-footer">
      <p class="center">
        <button class="btn btn-default col-xs-4 col-xs-offset-2" type="button" ng-click="close()">
          Cancel
        </button>
        <button class="btn btn-primary col-xs-4" type="button" ng-click="addDatabase(addDatabaseForm, $event)">
          Save
        </button>
      </p>
    </div>
  </form>
</div>
