.app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .splitter {
    height: 100%;
    width: 100%;
    position: relative;
    .vsplitter {
      background-color: darken(@brand-secondary, 15%);
    }
  }
  .sidebar-wrapper {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
    .sidebar-header {
      .logo-wrap {
        .logo {
          text-align: center;
          img {
            height: 40px;
            margin-top: 20px;
          }
        }
      }
    }
  }
  .content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}
