//vendor
@import "../vendor/bootstrap/less/bootstrap.less";
@import "../vendor/font-awesome/less/font-awesome.less";

/* Theme Mixin */
.theme() {

  //body
  background: @theme-bg;
  color: @theme-text-color;
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-weight: 200;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  .font-family-regular;

  //
  //app
  @import 'app.less';
  @import 'appGlobals.less';
  @import 'appVariables';
  @import 'appAnimations.less';
  @import 'appUtils.less';
  @import 'appVendorOverrides.less';
  @import 'appFonts.less';

  //components
  @import 'appComponents.less';
}

/*
 * Default Theme
 */
body.theme-default {

  //colors
  @theme-brand-primary: @brand-primary;

  //globals
  @theme-bg: white;
  @theme-text-color: #333;
  @theme-border-color: lighten(@theme-bg, 10%);

  //tabs
  @theme-tab-border-color: @gray-lighter;
  @theme-tab-active-bg: white;
  @theme-tab-pane-bg: white;
  @theme-tab-active-line-bg: @theme-text-color;

  //server list
  @theme-server-list-border-color: @gray-lighter;
  @theme-server-list-hover-bg: @gray-lighter;
  @theme-server-list-hover-color: darken(@theme-text-color, 10%);

  //query
  @theme-query-editor-color: #c5c8c6;
  @theme-query-editor-bg: #c5c8c6;
  @theme-query-editor-border-color: lighten(@theme-bg, 10%);
  @theme-query-editor-input-bg: @theme-bg; //query edit skip + take input bg
  @theme-query-editor-string-color: #b5bd68;
  @theme-query-editor-boolean-color: #de935f;

  //query-result-json
  @theme-query-result-json-bg: white;
  @theme-query-result-json-color: white;
  @theme-query-result-json-border-color: white;
  @theme-query-result-json-seprator: @theme-text-color;
  @theme-query-result-json-key: red;
  @theme-query-result-json-string: white;
  @theme-query-result-json-boolean: white;
  //query-result icons
  @theme-query-result-date-icon: red;
  @theme-query-result-string-icon: white;

  //buttons
  @theme-btn-default-bg: @btn-default-bg;
  @theme-btn-default-color: @btn-default-color;
  @theme-btn-primary-color: white;
  @theme-btn-primary-bg: @theme-brand-primary;

  //modals
  @theme-modal-content-bg: white;
  @theme-modal-header-bg: white;
  @theme-modal-footer-bg: white;
  @theme-modal-close-icon-color: @brand-primary;
  @theme-modal-connected-icon-color: @brand-primary;

  //user info note
  @theme-user-info-note-dot-color: @brand-primary;

  //init mixin
  .theme();
}

/*
 * Isotope UI Theme
 */
body.theme-isotope-ui {

  //colors
  @theme-brand-primary: @brand-primary;

  //globals
  @theme-bg: #343943;
  @theme-text-color: #9099ab;
  @theme-border-color: lighten(@theme-bg, 10%);

  //tabs
  @theme-tab-border-color: transparent;
  @theme-tab-active-bg: #282c34;
  @theme-tab-pane-bg: #282c34;
  @theme-tab-active-line-bg: @theme-text-color;

  //server list
  @theme-server-list-border-color: transparent;
  @theme-server-list-hover-bg: #2d323b;
  @theme-server-list-hover-color: darken(@theme-text-color, 10%);

  //query
  @theme-query-editor-color: #c5c8c6;
  @theme-query-editor-bg: @theme-bg;
  @theme-query-editor-border-color: lighten(@theme-bg, 10%);
  @theme-query-editor-input-bg: @theme-bg; //query edit skip + take input bg
  @theme-query-editor-string-color: #b5bd68;
  @theme-query-editor-boolean-color: #de935f;

  //query-result-json
  @theme-query-result-json-bg: @theme-bg;
  @theme-query-result-json-color: white;
  @theme-query-result-json-border-color: white;
  @theme-query-result-json-seprator: white;
  @theme-query-result-json-key: red;
  @theme-query-result-json-string: white;
  @theme-query-result-json-boolean: white;
  //query-result icons
  @theme-query-result-date-icon: red;
  @theme-query-result-string-icon: white;

  //buttons
  @theme-btn-default-bg: @btn-default-bg;
  @theme-btn-default-color: @btn-default-color;
  @theme-btn-primary-color: white;
  @theme-btn-primary-bg: @theme-brand-primary;

  //modals
  @theme-modal-content-bg: white;
  @theme-modal-header-bg: white;
  @theme-modal-footer-bg: white;
  @theme-modal-close-icon-color: @brand-primary;
  @theme-modal-connected-icon-color: @brand-primary;

  //user info note
  @theme-user-info-note-dot-color: @brand-primary;

  //init mixin
  .theme();
}

/*
 * Atom Theme
 */
body.theme-atom {
  @atom-blue: #52a8ff;

  //colors
  @theme-brand-primary: @atom-blue;

  //globals
  @theme-bg: #161719;
  @theme-text-color: #ccced2;
  @theme-border-color: lighten(@theme-bg, 10%);

  //tabs
  @theme-tab-border-color: transparent;
  @theme-tab-active-bg: #1d1f21;
  @theme-tab-pane-bg: #1d1f21;
  @theme-tab-active-line-bg: @atom-blue;

  //server list
  @theme-server-list-border-color: transparent;
  @theme-server-list-hover-bg: #27292c;
  @theme-server-list-hover-color: #e2c08d;

  //query
  @theme-query-editor-color: #c5c8c6;
  @theme-query-editor-bg: @theme-bg;
  @theme-query-editor-border-color: lighten(@theme-bg, 10%);
  @theme-query-editor-input-bg: lighten(@theme-bg, 10%); //query edit skip + take input bg
  @theme-query-editor-string-color: #b5bd68;
  @theme-query-editor-boolean-color: #de935f;

  //query-result-json
  @theme-query-result-json-bg: #2c3033;
  @theme-query-result-json-color: #b294bb;
  @theme-query-result-json-border-color: darken(#2c3033, 10%);
  @theme-query-result-json-seprator: white;
  @theme-query-result-json-key: #b294bb;
  @theme-query-result-json-string: white;
  @theme-query-result-json-boolean: white;
  //query-result icons
  @theme-query-result-date-icon: red;
  @theme-query-result-string-icon: white;

  //buttons
  @theme-btn-default-bg: #303337;
  @theme-btn-default-color: @theme-text-color;
  @theme-btn-primary-color: white;
  @theme-btn-primary-bg: @theme-brand-primary;

  //modals
  @theme-modal-content-bg: #41464c;
  @theme-modal-header-bg: #2c3033;
  @theme-modal-footer-bg: #2c3033;
  @theme-modal-close-icon-color: @atom-blue;
  @theme-modal-connected-icon-color: @atom-blue;

  //user info note
  @theme-user-info-note-dot-color: @atom-blue;

  //init mixin
  .theme();
}
